body,html,div{
    padding:0px;
    margin:0px;
}
.container{
    width:auto;
    height:auto;
    position:relative;
    margin:20px;
}

.box{
    width:40px;
    height:40px;
    border:1px #708090 solid;
    display: table-cell;
}

.box-bord{
    width:40px;
    height:20px;
    border:1px #FFF solid;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.cube{
    position:absolute;
    width:40px;
    height:40px;
    background-color: #FF4949;
    top: 23px;
    left:43px;
    
}

.cube-bar{
    width: 40px;
    height: 15px;
    background-color: #001DFF;
    
}

.order{
    width:200px;
    height:30px
}
.btn{
    width:120px;
    height:30px
}

@keyframes topToRight{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform:rotate(90deg)
    }
}

@keyframes rightToBottom{  
    0%{
        transform: rotate(90deg)
    }
    100%{
        transform:rotate(180deg)
    }
}

@keyframes bottomToLeft{  
    0%{
        transform: rotate(180deg)
    }
    100%{
        transform:rotate(270deg)
    }
}

@keyframes leftToTop{  
    0%{
        transform: rotate(270deg)
    }
    100%{
        transform:rotate(360deg)
    }
}

@keyframes topToLeft{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform:rotate(-90deg)
    }
}

@keyframes leftToBottom{
    0%{
        transform: rotate(-90deg)
    }
    100%{
        transform:rotate(-180deg)
    }
}

@keyframes bottomToRight{
    0%{
        transform: rotate(-180deg)
    }
    100%{
        transform:rotate(-270deg)
    }
}

@keyframes rightToTop{
    0%{
        transform: rotate(-270deg)
    }
    100%{
        transform:rotate(-360deg)
    }
}


@keyframes topTurnBack{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform:rotate(180deg)
    }
}

@keyframes rightTurnBack{
    0%{
        transform: rotate(90deg)
    }
    100%{
        transform:rotate(270deg)
    }
}

@keyframes bottomTurnBack{
    0%{
        transform: rotate(180deg)
    }
    100%{
        transform:rotate(0deg)
    }
}

@keyframes leftTurnBack{
    0%{
        transform: rotate(270deg)
    }
    100%{
        transform:rotate(90deg)
    }
}

